.channel {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.channel__title {
    /*padding: 10px 0;*/
}

.channel__hash {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.channel__title > h3 {
    font-weight: 500;
}